body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
}

html, body {
  margin:0px !important;
  padding:0px !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}